:root {
  --primary-color: #F2EFE4;
  --secondary-color : #000000;
  --third-color: #FFFFFF;
  --accent-color : #f1c730;
  font-size: 14px;
  font-family: Poppins;
}

*{
  box-sizing: border-box;
}

body{
  background-color: var(--primary-color);
  height: 100vh;
  padding: 50px;
}

#root {
  height: 100%;
  margin: 0;
}

.App{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
}

header {
  align-items:center;
  border: solid 3px black;
  display: flex;
  width: 100%;
}

.header-text{
  border: solid 3px var(--secondary-color);
  flex: 1;
  font-size: 1rem;
  font-weight: 800;
  height: 65px;
  letter-spacing: 0.6rem;
  padding: 20px 40px;
  text-align: center;
  width: 100%;
}

.search-bar{
  border: solid 3px var(--secondary-color);
  height: 65px;
  padding: 20px;
  width: 300px;
}

.search{
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  outline: none;
}

.search span{
  font-weight: 400;
  letter-spacing: 0;
}

.logo{
  fill: var(--accent-color);
  margin: 130px 40px 70px;
  padding: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.content-container{
  display: flex;
  flex-direction: column;
  flex: 2; 
  margin: 50px;
}

h1.rubrik{
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 2rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h2{
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.6rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.text-btn-conatiner{
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 50px 0;
  width: 100%;
}

.text-content-container{
  width: 100%;
}

p.text-content{
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin: 0;
  text-align: start;
  width: fit-content;
}

.text-content.rubrik{
  color: var(--accent-color);
  font-weight: 700;
  text-transform: uppercase;
}

.btn-container{
  display: flex;
  gap: 20px;
}

.btn{
  background-color: var(--secondary-color);
  color: var(--third-color);
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  height: 50px;
  letter-spacing: 0.2rem;
  padding: 10px;
  width: 200px;
}

.btn:hover{
  background-color: var(--accent-color);
  border: none;
}

.pattern{
  height: 30vh;
  max-inline-size: 100%;
  object-fit: cover;
}

.pattern-tablet{
  display: none;
}


@media (max-width: 1450px) {

  .header-text{
    letter-spacing: 0.4rem;
  }
  
  .logo{
    margin: 0;
    padding-right: 40px;
  }

  h1.rubrik{
    font-size: 3rem;
    letter-spacing: 1.5rem;
  }

  .text-btn-conatiner{
    flex-direction: column;
    justify-content: flex-start;
  }

  p.text-content, .btn-container{
    width: 100%;
    min-width: 100%;
  }
  
}

@media (max-width: 1056px) {

  body{
    padding: 0;
    margin: 0;
  }

  .App {
    align-items: flex-end;
  }

  .logo{
    height: 140px;
    left: 50%;
    padding: 0;
    position: absolute;
    top: 45px;
    transform: translate(-50%, 0);
  }

  header::after, header::before{
    background-color: var(--secondary-color);
    content: '';
    height: 20px;
    position: absolute;
    top: 105px;
    width: 20px;
  }

  header::before{
    right: 30px;
  }
  header::after{
    left: 30px;
  }

  header{
    align-items: flex-end;
    border: none;
    flex-direction: column;
  }

  .header-text{
    background-color: var(--secondary-color);
    color: var(--third-color);
    margin-top: 230px;
    width: 100%;
  }

  .search-bar{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    margin: 30px;
    padding: 10px;
    width: calc(55% - 60px);
  }

  main{
    align-content: flex-start;
    padding-right: 30px;
    width: calc(55% - 30px);
  }

  .content-container{
    height: 100%;
    margin: 0;
  }

  p.text-content{
    font-size: 1rem;
  }

  h1.rubrik{
    font-size: 2rem;
    letter-spacing: 0.7rem;
  }

  h2{
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
  }

  .text-btn-conatiner {
    flex-grow: 1;
    justify-content: space-between;
    margin: 30px 0;
  }

  .btn-container{
    flex-direction: column;
  }

  .btn{
    width: 100%;
  }

  .pattern{
    display: none;
  }

  .pattern-tablet{
    display: flex;
    height: calc(100vh - 330.5px);
    left: -1px;
    max-inline-size: 100%;
    object-fit: cover;
    position: absolute;
    top: 330.5px;
    width: calc(45% + 1px) ;
  }

  @media (max-width: 630px) {

    .pattern-tablet{
      height: 200px;
      margin-top: 40px;
      position: unset;
      width: 100vw;
    }

    header{
      justify-content: center;
    }

    h1.rubrik{
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
    }

    .search-bar{
      margin: 30px 10px;
      width: calc(100% - 20px);
    }

    main {
      width: 100%;
      padding: 0;
    }

    .content-container{
      margin: 10px;
      text-align: center;
    }

    .text-btn-conatiner{
      margin: 30px 0 10px;
    }

    .text-content{
    justify-content: center;
    }

  }
 
}
